################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/WiPro/x64/Debug
/WiPro/.vs/WiPro
